<table class='w-full text-left border-t border-gray-200 mb-6'>
	<thead>
		<tr class='text-sm text-gray-700 uppercase'>
			<th class='py-3'>Product</th>
			<th class='py-3'>Price</th>
			<th class='py-3'>Qty</th>
			<th class='py-3'>Total</th>
			<th class='py-3 text-right'>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for item in cart.items %}
			<tr class='border-t border-gray-100'>
				<td class='py-4'>
					<div class='flex items-center gap-4'>
						<a href='{{ item.url }}'>
							{% if item.image %}
								<img
									src='{{ item.image | image_url: width: 100 }}'
									alt='{{ item.product.title }}'
								>
							{% endif %}
						</a>
						<div>
							<a href='{{ item.url }}' class='font-semibold hover:underline text-primary'>
								{{ item.product.title }}
							</a>
							{% if item.variant.title != 'Default Title' %}
								<p class='text-sm text-gray-500'>{{ item.variant.title }}</p>
							{% endif %}
						</div>
					</div>
				</td>

				<td class='py-4'>{{ item.final_price | money }}</td>

				<td class='py-4'>
					<span>{{ item.quantity }}</span>
				</td>

				<td class='py-4'>{{ item.final_line_price | money }}</td>

				<td class='py-4 text-right space-x-3'>
					<cart-item-edit-button
						product-handle='{{ item.product.handle }}'
						variant-id='{{ item.variant.id }}'
						quantity='{{ item.quantity }}'
						line='{{ forloop.index }}'
					>
						<button class='text-blue-600 hover:underline text-sm cursor-pointer'>Edit</button>
					</cart-item-edit-button>

					<cart-item-remove-button line='{{ forloop.index }}'>
						<span class='text-red-500 hover:underline text-sm cursor-pointer'>Remove</span>
					</cart-item-remove-button>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
