<facet-filter data-prices='{{ products | map: "price" | join: "," }}'>
	<form method='get' class='space-y-6'>
		{% for filter in filters %}
			{% if filter.values.size > 1 or filter.type == 'price_range' %}
				<div class='border-b pb-4'>
					<label class='block font-semibold text-sm mb-2'> {{ filter.label }}</label>

					{% case filter.type %}
						{% when 'list' %}
							<div class='space-y-2'>
								{% for value in filter.values %}
									<label class='relative'>
										<input
											type='checkbox'
											name='{{ filter.param_name }}'
											value='{{ value.value }}'
											class='peer hidden'
											{% if value.active %}
												checked='true'
											{% endif %}
											{% if value.count == 0 and value.active == false %}
												disabled
											{% endif %}
										>

										<filter-button
											class='
												inline-block px-3 py-1 text-sm border rounded-md cursor-pointer transition
												border-gray-300
												peer-checked:bg-button peer-checked:text-button-label
												peer-disabled:opacity-30 peer-disabled:cursor-not-allowed
												hover:bg-gray-100 whitespace-nowrap mb-2
											'
										>
											{{ value.label }}
											{% unless value.count == 0 %} ({{ value.count }}){% endunless %}
										</filter-button>
									</label>
								{% endfor %}
							</div>

						{% when 'price_range' %}
							<div class='flex items-center gap-2 text-sm'>
								<input
									type='number'
									name='{{ filter.min_value.param_name }}'
									value='{{ filter.min_value.value | default: filter.min_value.min | divided_by: 100 }}'
									min='{{ filter.min_value.min }}'
									class='w-25 border px-2 py-1 rounded'
									placeholder='Min'
								>
								<span>to</span>
								<input
									type='number'
									name='{{ filter.max_value.param_name }}'
									value='{{ filter.max_value.value | default: filter.max_value.max | divided_by: 100 }}'
									min='{{ filter.max_value.min | divided_by: 100 }}'
									class='w-25 border px-2 py-1 rounded'
									placeholder='Max'
								>
							</div>
					{% endcase %}
				</div>
			{% endif %}
		{% endfor %}

		<button
			type='submit'
			class='w-full bg-[var(--color-button)] text-[var(--color-button-label)] px-4 py-2 rounded'
		>
			Apply Filters
		</button>
	</form>
</facet-filter>
