<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<title>{{ page_title }}</title>
		{{ 'application.css' | asset_url | stylesheet_tag }}
		{{ content_for_header }}
	</head>
	<body class='color-{{ settings.color_scheme }}'>
		{% section 'header' %}

		<header-offset class='block transition-all duration-300'>
			<main>
				{{ content_for_layout }}
			</main>
		</header-offset>
		<script src='{{ 'bundle.js' | asset_url }}' defer></script>
		{% section 'modal-viewer' %}
		{% section 'toast-notification' %}
	</body>
</html>
